/bootstrap/compiled.php
.env.*.php
.env.php
/node_modules
/public/hot
/test
/storage/debugbar
/storage

/public/storage
/public/uploads
#/storage/*.key
/storage/clockwork
/public/Export/
/vendor
/v4
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
.idea/
.env
updates/
/public/uploads/
composer.lock
*.lock
/public/invoices/
/node_modules
package-lock.json
package.json
/storage/logs